@model IsmsWebApplication.Models.Ism

@section head_additions{
    <meta name="og:url" content="@Url.RouteUrl("t_redirect",routeValues: new {Id=Model.Id},protocol: Request.Url.Scheme )" />
    <meta name="og:title" content="@ViewBag.Title" />
    @*<meta name="og:image" content="~/Images/main_image.jpg" />*@
    <style>
        .messageInput {
            width: @(Model.IsmConfiguration.BubbleTextInputWidth)px;
            height:@(Model.IsmConfiguration.BubbleTextInputHeight)px;
            left:@(Model.IsmConfiguration.BubbleTextInputLeft)px;
            top: @(Model.IsmConfiguration.BubbleTextInputTop)px;
        }
</style>
    }
<div id="fb-root"></div>


 @Html.ActionLink("Randomise", "Random", routeValues: null, htmlAttributes: new { @class = "buttonize" })

@if (Request.IsAuthenticated)
{
  
    @Html.ActionLink("Create One!", "Create", routeValues: new { configid=@Model.IsmConfiguration.Id }, htmlAttributes: new { @class = "buttonize" })
    
}
    @*<div class="fb-share-button" data-href="@Url.RouteUrl("t_redirect",routeValues: new {Id=Model.Id},protocol: Request.Url.Scheme )" data-type="button" data-width="200"></div>*@

<div class="messageInputPositionWrapper">
    <img src="@Url.Content(Model.IsmConfiguration.BaseImageUrl)" />
    <textarea class="messageInput" title="Thought Text" 
        maxlength="163" autofocus id="txtMessage" name="txtMessage" disabled>@Model.IsmText</textarea>
</div>
Added by @Model.Username on @Model.CreatedOn.ToLocalTime()
@section scripts{
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1441142482770530";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 
    }